$headerFontColor: #edeef0;

body {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 16px;
}

a {
  color: #fff;
}

a:hover {
  color: #2d2d2d;
  background-color: #fff;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0 1.5em;
  margin: 0;
  list-style: none;
}

.row {
  height: inherit;
}

#menu-wrapper {
  text-transform: uppercase;
}

#mobile-menu {
  height: 3em;
  background-color: #2d2d2d;
}

#header-menu {
  height: 3em;
  background-color: #2d2d2d;
}

.material-icons {
  font-size: 2em;
  color: white;
}

.material-icons:hover {
  color: #2d2d2d;
  background-color: white;
}

.brand-name {
  font-size: 18px;
}

@media(max-width:768px) {
  #header-menu {
    display: none;
  }

  .navbar a {
    border-bottom: 1px solid white;
  }

  .navbar a:last-child {
    border: none;
  }

  .navbar li {
    margin: 0.6em 0;
  }

  #menu-wrapper:hover .navbar {
    flex-direction: column;
  }

  #menu-wrapper:hover #header-menu {
    height: auto;
    display: flex;
  }
}

@media(min-width:768px) {
  #mobile-menu {
    display: none;
  }
}
